<main class="main">
    
    <h1>Main</h1>
    <img src="img/client-2.png">
    <svg class="block block-1"  fill="red">
        <use xlink:href="#svg-1">
    </svg>

    <svg class="block block-2"  fill="green">
        <use xlink:href="#svg-2">
    </svg>
    <style>
    |    svg.block {
    |        padding: unset;
    |        display: block;
    |        width: 25px;
    |        height: 25px;
    |        margin: unset;
    |    }
    |
    |    svg.block-1:hover{
    |        fill: green;
    |    }
    </style>

</main>